
 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<HEAD>
		<META HTTP-EQUIV="Content-Language" CONTENT="pl">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<META HTTP-EQUIV="Content-Language" CONTENT="pl">
		<META NAME="Description" CONTENT="Ochrona Danych">
		<title>{{ title }}</title>
		<LINK REL="Stylesheet" HREF="{{ url_for('static', filename='style.css') }}">
		<META NAME="Author" CONTENT="Abra">
		<META NAME="Robots" CONTENT="noindex">
<!--// cache-->
		<META HTTP-EQUIV="Expires" CONTENT="0">
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, no-cache, must-revalidate">
     	<META HTTP-EQUIV="Cache-Control" CONTENT="post-check=0, pre-check=0">
     	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	</HEAD>

	<BODY>
		<div class = naglowek>
			<div class = naglowek2>
				<a class = cwiczenia href="/">Strona główna</a>
			</div>
			<div class = naglowek2>
				<a class = cwiczenia href="snippet">Notatki</a>
			</div>
			{% if not session.username %}
			<div class = naglowek2>
				<a class = cwiczenia href="login">Zaloguj</a>
			</div>
			<div class = naglowek2>
				<a class = cwiczenia href="register">Zarejestruj</a>
			</div>
			{% else %}
			<div class = naglowek2>
				<a class = cwiczenia href="changepass">Moje Konto</a>
			</div>
			<div class = naglowek2>
				<a class = cwiczenia href="logout">Wyloguj</a>
			</div>
			{% endif %}
		</div>
		<div class = glowna >
			{{ error }}
			<br>
			{{ check }}
			<br>
				<form action="" method="POST">
				<p><input type=text name=title>
				<p><input type=text name=content>
				<p><input type=submit value=umiesc>
				</form>
			<br>
		</div>
	</Body>
	
</html>
